<div id="ygor-content"></div>

<div class="overlay" id="modal">
    <div class="container">
        <div class="row" style="margin-top: 25%">
            <div class="three columns">&nbsp;</div>
            <div class="one-half column">
                <div class="modal-options" id="modal-failed-register" style="display: none">
                    <h1>Oops...</h1>
                    <p>We failed to connect to the mothership.</p>
                    <a class="button button-primary button-reconnect">try harder</a>
                </div>
                <div class="modal-options" id="modal-disconnected" style="display: none">
                    <h1>Oops...</h1>
                    <p>We got disconnected from the server.</p>
                    <a class="button button-primary button-reconnect">reconnect</a>
                </div>
                <div class="modal-options" id="modal-waiting" style="displayt: none">
                    <h1>Waiting for content</h1>
                    <p>
                        We're connected to the mothership, now waiting for
                        content. Good time to get yourself a
                        <img src="img/white-coffee.gif" />.
                    </p>
                </div>
                <div class="modal-options" id="modal-connecting">
                    <h1>Connecting...</h1>
                    <p>Please wait while I reconnect you to the mothership...</p>
                </div>
            </div>
            <div class="three columns">&nbsp;</div>
        </div>
    </div>
</div>
